ServiceBus/.vs/
QueueStorage/packages/
QueueStorage/.vs/
QueueStorage/Receiver/bin/
QueueStorage/Sender/obj/
QueueStorage/Receiver/obj/
QueueStorage/Sender/bin/
ServiceBus/DeadLetterQueueConsumer/bin/
ServiceBus/DeadLetterQueueConsumer/obj/
ServiceBus/packages/
ServiceBus/Receiver/bin/
ServiceBus/Receiver/obj/
ServiceBus/Sender/bin/Debug/
ServiceBus/Sender/obj/
/EventGrid/.vs/EventGrid
/EventGrid/EventHandler/Properties/PublishProfiles
/EventGrid/EventSource/bin
/EventGrid/EventSource/obj
/EventHubs/EventHubReceiver/bin/Debug/netcoreapp3.1
/EventHubs/EventHubReceiver/obj
/EventHubs/EventProcessorHost/bin/Debug/netcoreapp3.1
/EventHubs/EventProcessorHost/obj
/EventHubs/Sender/obj
/EventHubs/Sender/bin/Debug/netcoreapp3.1
